
/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------login area end----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/


.full-area{
    margin-top: 120px;
}


.login-area{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}



/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------Login area start----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/





/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------book store menu start----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/
.icon{
	padding:5px;
	border:3px solid #808080;
	border-radius:10px;
	font-size:2em;
	color:#808080;
	
}
.menu-items{ 
	background:#808080;
	font-family:cursive;
	display:none; 
	margin-top:2px; 
	padding:20px;

}
.menu_book_box h4 a{
	color:#ffffff ;
	font-family:cursive;
	font-weight:bold;
	font-size:20px;
	text-decoration:none;
}

.menu_book_box a{
	color:#fff;
	font-family:cursive;
	font-size:15px;
}



/*--***************************************************************************************--*/
/*--*********************************Menu_media-Query******************************************--*/
/*--********************************************************************--*/


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {

.top-menu:hover .menu-items{
	display:block; 
	z-index:999; 
	position:absolute; 
	width:80%; 
}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
 
.top-menu:hover .menu-items{
	display:block; 
	z-index:999; 
	position:absolute; 
	width:92.4%; 
}
}


/*--********************************************************************--*/
/*--****************************************************************************--*/
/*--************************************************************************************--*/








/*--***************************************************************************************--*/
/*--*********************************Menu_media******************************************--*/
/*--********************************************************************--*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
 .book_header_section{
	position:relative;
	padding:20px 00px 50px 0px;
}

.book_store_name span{
	font-family:cursive;
	font-size:60px;
	font-weight:bold;
	color:#614d4d;
	padding-left:0px;
}

.book_store_name p{
	font-family:cursive;
	font-size:20px;
	color:#614d4d;
}

.book_icon{
	text-align:center;
}

.book_icon img{
width:100%;
margin-top:-55px;	
height:260px;
}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .book_header_section{
	position:relative;
	padding:20px 0px;
}

.book_store_name span{
	font-family:cursive;
	font-size:80px;
	font-weight:bold;
	color:#614d4d;
	padding-left:0px;
}

.book_store_name p{
	font-family:cursive;
	font-size:20px;
	font-weight:bold;
	color:#614d4d;
}

.book_icon{
	text-align:center;
}
.book_icon img{
width:80%;	
height:300px;
margin-top:-20px;
}
}


/*--********************************************************************--*/
/*--****************************************************************************--*/
/*--************************************************************************************--*/





/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------book store main part start----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/
.book{
	height: 370px;
}

/*------------*/
.main-store{
		height: 50px;
		background-color:#3b3737;
		font-family:cursive;
		text-align: center;
		border-radius: 1em;
		color: #fff;
		margin-bottom: 150px;		
	}


/*---------------*/
#btnId{
	margin-left: 100px;
	margin: 2em 0em 0em 7em;
	font-size: 13px;	
}
.d-flex button{
	margin: 1.5em 0.6em;
	padding: 0.5em 2.4em;
}



/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------book store data-table start----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/
.table-style{
	margin-top: 5em;
	padding: 10px;
}
.font-edit{
	color: green;
	cursor: pointer;
}
.font-delete{
	color: red;
	cursor: pointer;
}


/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------book data-table end----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/













/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------book footer start----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/


.book-store_footer {
	background:#000000;
	text-align:center;
	padding-bottom:3px;
	padding-top:10px;
	margin-top:10px;
}
.book-store_footer p{
	font-family:Calibri (Body);
	font-size:15px;
	color:#fff;
}



/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------book footer end----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/










